---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import AppHeader from '../components/AppHeader.astro';
import AppButton from '../components/AppButton.astro';
import showImage from "../assets/img/show-niños.jpeg"
---

<Layout title="Pepito Show">
	<main>
	  <div class="min-h-screen bg-gradient-to-b from-pepito-blue to-pepito-blue/60">
			<AppHeader />

			<div class="flex flex-col lg:flex-row max-w-[1190px] mx-auto h-full py-14 w-full justify-between px-6 gap-6">
				<div class="w-full lg:w-1/2 max-w-[550px] flex flex-col justify-center">
					<h1 class="text-[40px] xl:text-5xl text-white mb-12 font-FredokaOne">¡Bienvenidos a un Mundo lleno de Aventuras y Diversión!</h1>
					<p class="mb-16 text-base leading-8 text-white xl:text-lg ">¿Estás listo para una experiencia llena de risas, emociones y asombro? ¡No busques más! En Pepito Show, te invitamos a descubrir un universo de entretenimiento mágico diseñado especialmente para niños y niñas como tú.</p>
					<AppButton />
				</div>
				<div class="w-full lg:w-1/2 max-w-[440px] ">
					<img src={showImage} class="h-auto lg:ml-auto " alt="show niños">
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>

</style>
