---
import logo from "../assets/img/logo.png"
---
<header>
  <div class="max-w-[1190px] px-6 mx-auto flex  justify-between items-center">
    <img src={logo} class="w-[150px] h-auto" alt="logo">
    <nav class="hidden text-lg font-medium text-white lg:block">
      <ul class="flex gap-[40px] font-Fredoka">
        <li>
          <a href="#">Inicio</a>
        </li>
        <li>
          <a href="#">Servicios</a>
        </li>
        <li>
          <a href="#">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>

</header>
