---
import AppFooter from '../components/AppFooter.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
				<!-- Primary Meta Tags -->
		<meta name="title" content="PepitoShow" />
		<meta name="description" content="Show infantiles, Hora Loca, Decoraciones, Baby shower" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pepitoshow.netlify.app/" />
		<meta property="og:title" content="PepitoShow" />
		<meta property="og:description" content="Show infantiles, Hora Loca, Decoraciones, Baby shower" />
		<meta property="og:image" content="https://pepitoshow.netlify.app/og.png" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://pepitoshow.netlify.app" />
		<meta property="twitter:title" content="PepitoShow" />
		<meta property="twitter:description" content="Show infantiles, Hora Loca, Decoraciones, Baby shower" />
		<meta property="twitter:image" content="https://pepitoshow.netlify.app/og.png" />

	</head>
	<body>
		<slot />
		<AppFooter />
	</body>
</html>
<style is:global>
@font-face {
  font-family: 'Fredoka';
  font-weight: 300;
  src: url('/fonts/fredoka-latin-300-normal.woff') format('woff'),
			 url('/fonts/fredoka-latin-300-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Fredoka';
  font-weight: 400;
	src: url('/fonts/fredoka-latin-400-normal.woff') format('woff'),
			 url('/fonts/fredoka-latin-400-normal.woff2') format('woff2');
}
@font-face {
	font-family: 'Fredoka';
  font-weight: 500;
  src: url('/fonts/fredoka-latin-500-normal.woff') format('woff'),
			 url('/fonts/fredoka-latin-500-normal.woff2') format('woff2');
}
@font-face {
	font-family: 'Fredoka';
  font-weight: 600;
  src: url('/fonts/fredoka-latin-600-normal.woff') format('woff'),
			 url('/fonts/fredoka-latin-600-normal.woff2') format('woff2');
}
@font-face {
	font-family: 'Fredoka';
  font-weight: 700;
  src: url('/fonts/fredoka-latin-700-normal.woff') format('woff'),
			 url('/fonts/fredoka-latin-700-normal.woff2') format('woff2');
}
@font-face {
	font-family: 'Fredoka One';
  font-weight: 400;
  src: url('/fonts/fredoka-one-latin-400-normal.woff') format('woff'),
			 url('/fonts/fredoka-one-latin-400-normal.woff2') format('woff2');
}
</style>
